
<script>
    /* Tocbot dynamic TOC, works with tocbot 3.0.2 */
    var oldtoc = document.getElementById('toctitle').nextElementSibling;
    var newtoc = document.createElement('div');
    newtoc.setAttribute('id', 'tocbot');
    newtoc.setAttribute('class', 'js-toc');
    oldtoc.parentNode.replaceChild(newtoc, oldtoc);
    tocbot.init({ contentSelector: '#content',
        headingSelector: 'h1, h2, h3, h4',
        smoothScroll: false });
    var handleTocOnResize = function() {
        var width = window.innerWidth
                    || document.documentElement.clientWidth
                    || document.body.clientWidth;
        if (width < 768) {
            tocbot.refresh({ contentSelector: '#content',
                headingSelector: 'h1, h2, h3, h4, h5, h6',
                collapseDepth: 6,
                throttleTimeout: 1000,
                smoothScroll: false });
        }
        else {
            tocbot.refresh({ contentSelector: '#content',
            headingSelector: 'h1, h2, h3, h4, h5, h6',
            collapseDepth: 3,
            throttleTimeout: 50,
            smoothScroll: false
          });
        }
    };
    window.addEventListener('resize', handleTocOnResize);
    handleTocOnResize();

    // Clipboard
    document.addEventListener('DOMContentLoaded', function() {
        var pre = document.getElementsByTagName('pre');
        for (var i = 0; i < pre.length; i++) {
            var b = document.createElement('button');
            b.className = 'clipboard';
            b.innerHTML = 'Copy <i class="fa fa-paste"></i>';
            if (pre[i].childNodes.length === 1 && pre[i].childNodes[0].nodeType === 3) {
                var div = document.createElement('div');
                div.textContent = pre[i].textContent;
                pre[i].textContent = '';
                pre[i].appendChild(div);
            }
            pre[i].appendChild(b);
        }
        var clipboard = new ClipboardJS('.clipboard', {
            target: function(b) {
                var p = b.parentNode;
                return ("" + p.className).includes("highlight")
                    ? p.getElementsByTagName("code")[0]
                    : p.childNodes[0];
            }
        });

        clipboard.on('success', function(e) {
            e.clearSelection();
            e.trigger.innerHTML = 'Copied <i class="fa fa-check"></i>';
            setTimeout(function() {
                e.trigger.innerHTML = 'Copy <i class="fa fa-paste"></i>';
            }, 2000);
        });

        clipboard.on('error', function(e) {
            console.error('Failed to copy to clipboard', e.action);
        });
    });


</script>
